<html><head>
	  <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore-min.js"></script>
    
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  
  <body  ng-app='myApp' ng-controller="hangmanController">
    <h1>Tic Tac Toe!</h1>
    
    <div class="container">
      <div class="well">
        <div><button ng-class="cell.class" ng-repeat="cell in board[0]" ng-disabled="isCellDisabled(cell);" ng-click="mark(cell);">{{ cell.value }}</button></div>
        <div><button ng-class="cell.class" ng-repeat="cell in board[1]" ng-disabled="isCellDisabled(cell);" ng-click="mark(cell);">{{ cell.value }}</button></div>
        <div><button ng-class="cell.class" ng-repeat="cell in board[2]" ng-disabled="isCellDisabled(cell);" ng-click="mark(cell);">{{ cell.value }}</button></div>
        <br/>
        <p>
          <span class="label label-info" style="font-size: 20px;" ng-show="winner">{{winningMessage}}</span>
          <span class="label label-info" style="font-size: 20px;" ng-show="draw">Game is a draw!</span>
        </p>
      </div>
    </div>
          
    <button ng-click="reset();" class="btn btn-default btn-large">Restart Game</button>
  </body>
</html>